@import '../../styles/variables.scss';

.wrapper {
    padding-top: 12px;
    padding-bottom: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.full-logo {
    display: flex;
    align-items: center;
}

.link {
    outline: none;

    &:hover,
    &:focus {
        opacity: .7;
    }
}

.logo {
    width: 27px;
    height: 20px;
    margin-right: 20px;
    margin-bottom: 2px;
    position: relative;
    z-index: 10;
}

.title {
    width: 137px;
    height: 30px;
    position: relative;
    z-index: 10;
}

.anim-enter {
    &::before {
        animation: anim-left ease-out 400ms forwards;
    }

    &::after {
        animation: anim-right ease-out 400ms forwards;
    }
}

.anim-exit {
    &::before {
        animation: anim-left ease-out 400ms alternate-reverse;
    }

    &::after {
        animation: anim-right ease-out 400ms alternate-reverse;
    }
}

.burger {
    position: relative;
    padding: 9px 16px;
    outline: none;
    border: none;
    background-color: transparent;
    z-index: 200;

    &.active {
        position: fixed;
        right: 0;

        & .burger-dot,
        &::before,
        &::after {
            background-color: $basic-white;
        }
    }

    &::before {
        content: '';
        position: absolute;
        left: 5px;
        top: 9px;
        background-color: $mine-shaft;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        transition: background-color 500ms;
    }

    &::after {
        content: '';
        position: absolute;
        right: 5px;
        top: 9px;
        background-color: $mine-shaft;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        transition: background-color 500ms;
    }
}

.burger-dot {
    background-color: $mine-shaft;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: background-color 500ms;
}

@keyframes anim-right {
    0% {
        right: 5px;
        width: 6px;
    }

    20% {
        width: 9px;
    }

    38% {
        right: 16px;
        width: 6px;
    }
    62% {
        right: 16px;
        width: 6px;
    }

    80% {
        width: 9px;
    }

    100% {
        right: 5px;
        width: 6px;
    }
}

@keyframes anim-left {
    0% {
        left: 4px;
        width: 6px;
    }

    20% {
        width: 9px;
    }

    38% {
        left: 16px;
        width: 6px;
    }
    62% {
        left: 16px;
        width: 6px;
    }

    80% {
        width: 9px;
    }

    100% {
        left: 4px;
        width: 6px;
    }
}