@import '../../styles/variables.scss';

.burger {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: -100vh;
    background-color: transparent;
    z-index: 150;

    &.anim-enter-done {
        background-color: $basic-black;
    }

    &.anim-enter {
        animation: background 500ms ease-in forwards;
    }

    &.anim-exit {
        animation: background 300ms ease-out alternate-reverse;
    }
}

@keyframes background {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: $basic-black;
    }
}