
@import './variables.scss';

html,
body {
    padding: 0;
    margin: 0;
    background: linear-gradient($background 0%, $background 50%, $special-code-gray 51%, $special-code-gray 100%);
    font-family: $default-font;
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}