$default-font: "Roboto", "Arial", sans-serif;
$custom-font: 'Raleway', 'Arial', sans-serif;
$special-font: 'JetBrains Mono', 'Arial', sans-serif;

$tablet-width: 768px;
$desktop-width: 1280px;

$basic-white: #ffffff;
$basic-black: #000000;
$background: #ffffff;

$mine-shaft: #2C2C2C;
$code-gray: #1A1A1A;
$special-code-gray: #191919;
$mercury: #E8E8E8;
$alabaster: #F9F9F9;
$emperor: #515151;
$dove-gray: #6B6B6B;
$alto: #D6D4D4;
$scorpion: #616060;