$default-font: "Roboto", "Arial", sans-serif;
$custom-font: 'Raleway', 'Arial', sans-serif;
$special-font: 'JetBrains Mono', 'Arial', sans-serif;

$tablet-width: 768px;
$desktop-width: 1280px;

$basic-white: #ffffff;
$basic-black: #000000;
$background: #ffffff;

$mine-shaft: #2C2C2C;